/* font-family: 'Archivo', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS';
}

    
        

body  {
    height: 100vh;
    width: auto;
    background-color: whitesmoke;
    background-image: url("/images/pexels-asad-photo-maldives-1024975.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: cover;
        
        
} 

.hero-section {
    height: 10vh;
    color: white;
}



    
.hero-section .icon {
    display: none;
}




.hero-text  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100%;
    color: whitesmoke;
    font-size: 1.4em;
    letter-spacing: 9px;
    margin-top: 100px;

   
}

h1{
    margin: 0 0 3rem 0;
    font-family: 'Varta', sans-serif;
}

p {
    font-family: 'Archivo', sans-serif;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
    color: white;
    margin-top: 40px;


}
    

nav {
    padding: 1em 1em;
    transition: all .3s;

}

nav:hover   {
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

ul  {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}


.logo   {
    flex: 1 0 auto;
    font-weight: 600;
    letter-spacing: 2px;

}

.logo:hover {
    text-decoration: none;
    cursor: default;
}

li  {
    margin-right: 25px;
}

li:hover  {
    text-decoration: underline;
    cursor: pointer;
    color:#ff9800;
}


.hero-section a {
    color: whitesmoke;
    text-decoration: none;
}

.hero-section a:hover {
    transform: scale(1.1);
    color: #ff9800;
    text-decoration: none;
}

.hero-section a:active {
    transform: scale(1);
    text-decoration: none;
}


.button {
    margin-top: 28px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    /*color: ;*/
    /*background-color: ; */
    border: none;
    border-radius: 15px;
    opacity: 85%;
    box-shadow: 0 9px #999;

    
}

.button:hover {background-color: #ff9800} 

.button:active  {
    background-color: #ff9800;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
    

/*mobile*/
@media screen and (max-width: 600px) {
    body    {
        background-image: url("/images/pexels-asad-photo-maldives-1024975.jpg");
    }

    

    .hero-text      {
        margin-top: 60px;
    }

    .header-text   {
        flex-direction: row;
        font-size: 30px;
        line-height: 1.5em;


    }

    #counter p  {
        flex-direction: row;
        justify-content: center;
    }


    .hero-section {
        height: 10vh;
        color: white;
    }
        
    
    
    .hero-section .icon {
        color: whitesmoke;
    }

    .hero-section .icon:hover {
        transform: scale(1.1);
        color: #ff9800;
    }

    .hero-section a:not {display: none;}
    .hero-section a.icon{
        float:right;
        display: block;
    }
    
    .hero-section.responsive {position: relative;}
    .hero-section.responsive a.icon{
        position: absolute;
        float: right;
        display: block;
    }

    .hero-section.responsive a{
        float: right;
        display: block;
        text-align: left;
    }

    .button {
        margin-top: 80px;
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        /*color: ;*/
        /*background-color: ; */
        border: none;
        border-radius: 15px;
        opacity: 85%;
        box-shadow: 0 9px #999;
    
        
    }

    ul  {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }
    
    li  {
        display: none;
    }
    

    .logo   {
        flex: 1 0 auto;
        font-weight: 600;
        letter-spacing: 2px;
    
    }

/*tablets*/
@media (min-width: 481px) and (max-width: 1024px)   {

    
        
    .hero-section .icon {
        display: none;
    }
    
    
    


    
}


/*desktop*/
@media (min-width: 1025px)  {
   
    
    
    .hero-section .icon {
        display: none;
    }
    
    
}



}